<h2 mat-dialog-title>
  Авторизация
  <button mat-icon-button (click)="dialogRef.close()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<form (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input matInput type="text" placeholder="Введите логин" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput type="password" placeholder="Введите пароль" required>
  </mat-form-field>

  <button mat-button type="submit">Войти</button>
</form>
