<h2 mat-dialog-title>
  <div class="title">Авторизация</div>
  <button mat-icon-button (click)="dialogRef.close()" class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form-container" [ngClass]="{'error': isAuthError}">
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login" type="text" placeholder="Введите логин" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Введите пароль" required>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="authForm.invalid">Войти</button>
</form>
